{# /** * @file * Theme override to display a single page. * * The doctype, html, head and body tags are not in this template. Instead they * can be found in the html.html.twig template in this directory. * * Available variables: * * General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be * "/" unless you have installed Drupal in a sub-directory. * - is_front: A flag indicating if the current page is the front page. * - logged_in: A flag indicating if the user
is registered and signed in. * - is_admin: A flag indicating if the user has permission to access * administration pages. * * Site identity: * - front_page: The URL of the front page. Use this instead of base_path when * linking to the front page. This
includes the language domain or prefix. * * Page content (in order of occurrence in the default page.html.twig): * - messages: Status and error messages. Should be displayed prominently. * - node: Fully loaded node, if there is an automatically-loaded
node * associated with the page and the node ID is the second argument in the * page's path (e.g. node/12345 and node/12345/revisions, but not * comment/reply/12345). * * * @see template_preprocess_page() * @see html.html.twig */ #}


<section class="home-header">
  <div class="video-background">
    <div class="video-foreground">
      <video autoplay loop>
      <source src="/themes/barbz/images/laptop.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <div id="coverimg1" class="header-box is-large">
        <div class="header-box-content">
          <div class="header-box-text">
            <div class="site-header-content">
              <h1 class="site-title">
                {{ site_name }}
              </h1>
              <h2 class="site-description">
                {{ site_slogan }}
              </h2>
              <nav class="socal-links">
                <ul class="nav navbar-nav navbar-right socal-lonks">
                  <li>
                    <a target="_blank" href="mailto:dan@barbarito.me">
                      <i class="fa fa-fw fa-envelope"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://github.com/danielbarbarito">
                      <i class="fa fa-fw fa-github"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://gitlab.com/danbarbarito">
                      <i class="fa fa-fw fa-gitlab"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://linkedin.com/in/danbarbarito">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://stackoverflow.com/users/3141165/dan-barbarito">
                      <i class="fa fa-fw fa-stack-exchange"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://t.me/danbarbarito">
                      <i class="fa fa-fw fa-telegram"></i>
                    </a>
                  </li>
                  <li class="tip-paypal">
                    <a target="_blank" href="https://paypal.me/danbarbarito">
                      <i class="fa fa-fw fa-paypal"></i>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="hire-me">
                <a class="btn-hire-me sheen" href="/hire">Hire Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-2 col-md-pull-8">
      <div class="col-xs-12">
        <a href="/about">
          <div id="accent4" class="header-box is-small">
            <div class="header-box-content">
              <div class="header-box-text">
                About
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12">
        <a href="/blog">
          <div id="accent3" class="header-box is-small">
            <div class="header-box-content">
              <div class="header-box-text">
                Blog
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-md-2">
      <div class="col-xs-12">
        <a href="/resume">
          <div id="accent3" class="header-box is-small">
            <div class="header-box-content">
              <div class="header-box-text">
                Resume
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12">
        <a href="/projects">
          <div id="accent4" class="header-box is-small">
            <div class="header-box-content">
              <div class="header-box-text">
                Projects
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div id="cta1" class="row">
      <div class="col-md-12">
        {{ page.cta1_description }}
      </div>
      <div class="col-md-12">
        {{ page.cta1 }}
      </div>
    </div>
    <div id="cta2" class="row">
      <div class="col-md-12">
        {{ page.cta2_description }}
      </div>
      <div class="col-md-12">
        {{ page.cta2 }}
      </div>
    </div>
  </div>
</section>

{{ page.footer }}
